.booking-rooms-wrapper {
  display: grid;
  grid-template-areas:
    "description description delete"
    "start start delete"
    "end end delete";

  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; /* Added to create spacing between grid items */
  margin: 20px;
  background-color: rgb(54, 54, 54);
  border: 2px solid gray;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  text-align: center; /* Center align the content within the grid */
}

.booking-meetingname-container {
  grid-area: description;
  border-bottom: 2px solid gray;
  margin: 10px;
}

#booking-room-desc{
  margin: 5px;
}

.booking-startdate-container {
  grid-area: start;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  /* padding-bottom: 10px; */
  border-radius: 6px;
}

#booking-room-startdate {
  margin: 0px;
  padding: 0px;
}

.booking-enddate-container {
  grid-area: end;
  white-space: nowrap;
  padding-bottom: 10px;
  border-radius: 6px;
}

#booking-room-enddate {
  margin: 0px;
  padding: 0px;
}

.delete-btn {
  grid-area: delete;
  text-align: center;
  display: flex;
  justify-content: center; /* Center align the button within its container */
}
