.home-wrapper{
  /* margin-top: 160px; */
}

.meeting-rooms-search{
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.meeting-room-container{
  margin-top: 20px;
  text-align: center;
}

#home-splash-img {
  max-width: 100%;
  height: auto;
}