.button-group-container{
  margin-top: 20px;
  text-align: center;
}

.meeting-rooms-search{
  margin-top: 30px;
  margin-bottom: 130px;
  text-align: center;
}

.meeting-room-container{
  margin-top: 420px;
  text-align: center;
}