.navbar-wrapper {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  flex: 1;
}

.drawer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.home-btn-link{
  margin: 10px;
  text-decoration: none; /* Remove the underline */
  color: inherit; 
}